.banner
{
    background-image: url('../../../assets/img/tavern.webp');
    height: 600px;
    background-position: center top;
    background-size: cover;
}
.content
{
    top: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content h1 
{
    color: #edf5e1;
    padding-top:100px;
    font-size: 60px;
    font-weight: bold;
    
}
.content h2 
{
    color: #edf5e1;
    font-size: 40px;
    font-weight: bold;
}
.blue
{
    color: #1AA7EC;
}
.content a 
{
    text-decoration: none;
    background-color: #edf5e1;
    font-size: 15px;
    color: #1AA7EC;
    padding: 15px 20px;
    border-radius: 50px;
    font-weight: bold;
}

.content a:hover 
{
    background-color: #1AA7EC;
    color: #edf5e1;
}

.stepBox 
{
    background-color: #000;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
}
.stepBox h1 
{
    font-size: 50px;
    font-weight: bold;
    color:var(--primary-color);
}
.stepBox p 
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
}
.highlight
{
    color: var(--primary-color);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.foodbox 
{
    padding: 10px 5px;
} 
.foodbox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.viewmorebtn
{
    text-decoration: none;
    background-color:var(--primary-color);
    color: #000;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
    
}

@media screen and (max-width:600px)
{
    .banner
{
    height: 700px;
}
}