<section style="background-color: #eee; height:100%">
  <div class="container pt-4">
    <div class="row">
      <div class="col-sm-10 mx-auto">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label for="city">City, Country</label>
            <input
              type="text"
              id="city"
              name="city"
              class="form-control"
              ngModel
              required>
          </div>
          <div class="form-group">
            <label for="distance">Max Distance</label>
            <input
              type="number"
              id="distance"
              name="distance"
              class="form-control"
              ngModel
              required>
          </div>
          <div class="form-group">
            <label for="unit">Unit</label>
            <select
              id="unit"
              name="unit"
              class="form-control"
              ngModel
              required>
              <option value="mi">Miles</option>
              <option value="km">Kilometers</option>
            </select>
          </div>
          <button class="btn btn-primary mt-2" type="submit" [disabled]="!f.valid">Search</button>
        </form>
      </div>
    </div>
  </div>
</section> 
