<section style="background-color: #507464; min-height: 100%">
  <div class="container">
    <div class="row" style="padding:100px 0px 50px 0px">
      <div class="col-12 col-lg-4 mb-4 mb-lg-0">

        <div class="card mb-4" *ngIf="incomingFriends.length > 0">
          <div class="card-header">
            Friend Requests
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let request of incomingFriends">
                <img [src]="profileImages.get(request.sender)" class="small-pfp me-2 my-1">
                {{ request.sender }}
                <button class="btn-icon" (click)="onAcceptRequest(request.sender)">
                  <i class="fa fa-check p-0"></i>
                </button>
                <button class="btn-icon" (click)="onDeclineRequest(request.sender)">
                  <i class="fa fa-trash p-0"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            Your Friends
          </div>
          
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item" *ngIf="userFriends.length === 0">
                You have no friends
              </li>
              <li class="list-group-item" *ngFor="let friend of userFriends">
                <img [src]="profileImages.get(friend.sender === activeUser.username ? friend.reciever : friend.sender)" class="small-pfp me-2 my-1">
                {{ friend.sender === activeUser.username ? friend.reciever : friend.sender }}
                <button class="btn-icon" (click)="chatWith(friend.sender === activeUser.username ? friend.reciever : friend.sender)">
                  <i class="fa fa-comment p-0"></i>
                </button>
                <button class="btn-icon" (click)="onRemoveFriend(friend)">
                  <i class="fa fa-trash p-0"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Add Friends
          </div>

          <div class="card-body">
            <div class="input-group mb-3">
              <input 
                [(ngModel)]="addFriendName"
                type="text"
                class="form-control"
                placeholder="Username"
                name="friendname"
                required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" (click)="onAddFriend()">Add</button>
              </div>
            </div>

            <div *ngIf="outgoingFriends.length > 0">
              <hr>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let request of outgoingFriends">
                  <img [src]="profileImages.get(request.reciever)" class="small-pfp me-2 my-1">
                  {{ request.reciever }}
                  <button class="btn-icon" (click)="onUndoRequest(request.reciever)">
                    <i class="fa fa-trash p-0"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-lg-8 mb-4 mb-lg-0">
        <!-- MAP -->
        <div class="col-12 col-lg-8 mb-4 mb-lg-0">
          <app-map-display></app-map-display>
        </div>
      </div>

    </div>
  </div>
</section>